
<div class="home">    
  
        <div id="container">
    
            <header>            
                <img class="img-responsive" src="../../assets/congresso.png" alt="logotipo Turistando" title="logotipo Turistando">
                <h3>Bem vindo!!!</h3>                 
            </header>
    
            <main role="main">
                <div class="destaque-carousel">
                    <img class="img-responsive" src="../../assets/jQuery-Sliding-Carousel_1.png">
                </div>
    
                <div class="caixa-destaque">
                    <section class="busca">
                        <h2>Busque aqui informações sobre parlamentares</h2>                       
                        
                        <form>
                            <input type="search" class="buscaSite" name="busca">
                            <img src="../../assets/busca.jpg">
                        </form>
    
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper purus est, a luctus risus tempor ac. 
                            Aliquam eu neque erat. Aliquam lacus leo, ultrices ut gravida in, maximus id turpis. 
                            Donec in risus tincidunt, porta augue sed, tincidunt est. In id felis dignissim lectus interdum luctus 
                            sit amet sed erat. Suspendisse vestibulum metus ac maximus bibendum. Donec et libero sed est semper rhoncus.                        
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper purus est, a luctus risus tempor ac. 
                            Aliquam eu neque erat. Aliquam lacus leo, ultrices ut gravida in, maximus id turpis. 
                            Donec in risus tincidunt, porta augue sed, tincidunt est. In id felis dignissim lectus interdum luctus 
                            sit amet sed erat. Suspendisse vestibulum metus ac maximus bibendum. Donec et libero sed est semper rhoncus.                        
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper purus est, a luctus risus tempor ac. 
                            Aliquam eu neque erat. Aliquam lacus leo, ultrices ut gravida in, maximus id turpis. 
                            Donec in risus tincidunt, porta augue sed, tincidunt est. In id felis dignissim lectus interdum luctus 
                            sit amet sed erat. Suspendisse vestibulum metus ac maximus bibendum. Donec et libero sed est semper rhoncus.                        
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper purus est, a luctus risus tempor ac. 
                            Aliquam eu neque erat. Aliquam lacus leo, ultrices ut gravida in, maximus id turpis. 
                            Donec in risus tincidunt, porta augue sed, tincidunt est. In id felis dignissim lectus interdum luctus 
                            sit amet sed erat. Suspendisse vestibulum metus ac maximus bibendum. Donec et libero sed est semper rhoncus.                        
                        </p>
                        
                    </section>
                </div>    
            </main>
    
            <footer class="caixa-footer">              
                <p>2019 &copy; Copyright Turistando, Todos os direitos Reservados</p>
            </footer>
        </div>
  
 
</div>

